.c--drawer__wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  box-sizing: content-box;
  justify-content: space-evenly;
}

%color-white {
  color: white;
}

.select {
  &__norml {
    @extend %color-white;
  }

  &__checked {
    @extend %color-white;
    &:before {
      content: '\2714';
      margin-right: 7px;
      font-size: 16px;
      color: #1cf41c;
    }
  }

  &__neighbor {
    color: rgba(white, 0.3);
  }
}


.no-visible {
  display: none;
}

.gap-left {
  margin-left: 10px;
}

.gap-right {
  margin-right: 10px;
}

.no-user-select {
  user-select: none;
}